* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url(pexels-miguel-á-padriñán-2882630.jpg);
    background-repeat: no-repeat;
    background-position:center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.agn{
    height: 90px;
    border-bottom: 7px dotted black;


}
.main-div{
    margin:20px;
}
.big-box {
    height: 60vh;
    width: 60vw;
    background-color: rgba(233, 124, 124, 0.847);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-one {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upcase,
.lwcase,
.numb,
.sc {
    
    font-size: larger;
    margin-bottom: 20px;
    font-style: oblique;
}

input[type=checkbox] {
    margin: 2px 0 0;
    line-height:70%;
    width: 20px;
    height: 20px;
}
.but{
    height: 100px;  
}
.password{
    text-align: center;
    margin-top:20px;
    font-size: 20px;
    font-weight:bold;
    color: #000000;
}
button{
    color: rgb(0, 0, 0);
    height: 30px;
    width: 20vw;
}
.footer{
    height: 50px;
    width: 40px;
    background-color:#EEE9DA;
    display: flex;
    flex-direction: column;
    align-items: center;

}

